---
export interface Props {
  background?: string
}

const {background = 'bg-neutral'} = Astro.props as Props
---

<div
  class={`overflow-hidden rounded-md shadow-md text-neutral-contrast ${background} scroll`}
>
  <slot />
</div>
