---
import Icon from './Icon.astro'
export interface Props {
  socialLinks: any
}

const {socialLinks} = Astro.props as Props
---

<nav aria-label="Social Media Links">
  {
    socialLinks.length > 0 && (
      <ul class="flex justify-evenly items-center gap-6">
        {socialLinks.map(
          links =>
            links.name && (
              <li>
                <a href={links.link}>
                  <Icon
                    classes="w-7 h-7 fill-neutral-contrast hover:scale-110 duration-200"
                    icon={links.icon}
                  />
                  <span class="sr-only">{links.name}</span>
                </a>
              </li>
            )
        )}
      </ul>
    )
  }
</nav>
